:root{
    --azul-claro:#29AAE1;
    --azul-escuro:#303393;
    --cinza-claro:#F5F5F5;
    --cinza-escuro:#E9E9E9;
}

html{
    overflow: auto;    
}

@font-face {
    font-family: ProximaExtraBold;
    src: url(../fonts/Proxima\ Nova\ Extrabold.otf);
}
@font-face {
    font-family: ProximaBold;
    src: url(../fonts/Proxima\ Nova\ Bold.otf);
}
@font-face {
    font-family: ProximaBlack;
    src: url(../fonts/Proxima\ Nova\ Black.otf);
}
@font-face {
    font-family: ProximaThin;
    src: url(../fonts/Proxima\ Nova\ Thin.otf);
}
@font-face {
    font-family: Proxima;
    src: url(../fonts/ProximaNova-Regular.otf);
}
.bg-azulClaro{
    background: var(--cinza-claro);
}
.azulClaro{
    color: var(--azul-claro);
}

.btn-primary {
    background-color: #303393;
    margin: 10px;
    text-align: center;
}
.btn-outline-primary{
    border-color: #303393;
    color: #303393;
}

.breadcrumb {
    background: rgba(#F5F5F5); 
}

.d-example{
    text-align: center;
}

.btn{
    background-color: var(--cinza-claro);
    border-radius: 8px;
    color: var(--azul-escuro);
    margin: 8px;
    display: flex;
}


.btn-primary{
    background-color: var(--azul-escuro);
    border-radius: 8px;
    color: white;
    margin: 8px;
    display: flex;
    box-shadow: 0 2px 3px rgba(94, 94, 94, 0.12), 0 1px 2px rgba(48, 47, 47, 0.24);
}

.form-group{
    color: var(--azul-escuro);
}

.img-fluid{
  display: block;
  margin-left:auto; 
  margin-right: center;
}

.btn-secund{
    background-color: var(--azul-claro);
    color: white;
}

.modal-title{
    text-align: center;
    color:var(--azul-escuro);
    background-color: var(--cinza-claro);
}

.btn-button{
    background-color: var(--cinza-escuro);
}

.nav-linkSenha{
    font-size: 15px;
}

.nav-link{
    text-align: center;
}

.img-fluid-perfil{
    width: 100px;
    height: 100px;
    display: block;
    margin-left:auto; 
    margin-right:auto;
}

.modal{
    overflow-y: auto;
}
.content-site{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}
.TelaInicial{
    display: flex;
    justify-content: center;
    background-color: var(--cinza-claro);
    text-align: center;
    background-color: white;
}

.Categoria{
    color:var(--azul-escuro);
    text-align: justify;
}

.card-title{
    color: var(--azul-escuro);
    text-align: center;
    font-size: 24px;
}


.card-group{
    background-color: var(--cinza-escuro);
} 

.rounded-circle {
    margin-top: 50px;
    border-radius: 20%!important;
}

.footer-copyright{
    background-color: var(--cinza-escuro);
    color: var(--azul-escuro);
}

.cards-Telainicial{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 50px;
}
.card-content{
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.cards-Telainicial .card-item{
    background-color:#fff;
    border-radius: 20px;
    padding: 10px;
}
.card-separador{
    margin-top: 25px;
    border: 0;
	border-top: 2px solid #303393;
    /* border-right: 9px solid rgb(209, 31, 31);
    width:200px; */
}

.card-separador1{
    margin-top: 50px;
    border: 0;
	border-top: 2px solid #303393;
    /* border-right: 9px solid rgb(209, 31, 31);
    width:200px; */
}

.card-separador2{
    margin-top: 20px;
    border: 0;
	border-top: 2px solid #303393;
    /* border-right: 9px solid rgb(209, 31, 31);
    width:200px; */
}

.how-works-candidato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: #303393; 
    
    margin-bottom: 90px;   
    
}
.how-works-candidato .howWorks-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid #BDBDBD;
    border-radius: 15px;
    text-indent: 100px;
    height: 410px;

}
.howWorks-separator{
    border-right: 2px solid rgb(202, 202, 202);
    height:200px;
    
}
.how-works-candidato .howWorks-content .text-bold{
    font-weight: bold;
 
}
.how-works-candidato .titulo1{
    padding: 60px 348px 10px 426px;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.how-works-candidato .howWorks-content .img-candidato{
    
}


.how-works-empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: #303393; 
    
    margin-bottom: 90px;   
    
}
.how-works-empresa .howWorks-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: 2px solid #BDBDBD;
    border-radius: 15px;
    height: 400px;
    
    
}
/* .howWorks-separator{
    border-left: 2px solid rgb(202, 202, 202);
    height:200px;
} */
.how-works-empresa .howWorks-content .text-bold{
    font-weight: bold;
 
}
.how-works-empresa .titulo1{
    padding: 60px 348px 10px 426px;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.how-works-empresa .howWorks-content .left-howWorks {
    /* text-indent: 0; */
    width: 412px;
    height: 230px;
    
    
    
} 

.breadcrumb {background: rgba(#F5F5F5);
    height: 80px;
}

.breadcrumb-item {
    margin-top: 18px;
}

.form-check-input{
    margin-top: .3rem;
    margin-left: 20px;
}
.texto {
    display: inline-block;
}

.color{
    color: var(--azul-escuro);
}
    

   




/* NATIVE CSS*/

body {
    margin: 0;
    font-family: Proxima;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}